@font-face {
  font-family:cookierunblack;
  src: url('cookierun black.ttf')
}
h1{
  text-align: center;
  margin-top: 250px;
  font-size: 80px;
  font-family: cookierunblack;
}
h1 a span:nth-child(1) {
  color: #fbbc05;
}
h1 a span:nth-child(2) {
  color: #4285f4;
}
h1 span:nth-child(1) {
  color: #4285f4;
}
h1 span:nth-child(2) {
  color: #ea4335;
}
h1 span:nth-child(4) {
  color: #34a853;
}
h1 span:nth-child(5) {
  color: #ea4335;
}

.search-bar{
  width: 500px;
}
a {
  text-decoration: none;
}
